.sidebar {
  width: 180px;
  background-color: #0f0f0f;
  color: #C9F41F;
  padding: 1.5rem 1rem;
  font-size: 25px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-title {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin: 1rem 0;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.sidebar-menu li:hover {
  color: white;
}

.streak-count {
  color: #ec5c27;
  font-weight: bold;
}

.total-count {
  color: #ffffff;
}

.sidebar ul li {
  margin: 0.8rem 0;
  cursor: pointer;
}


.sidebar ul li:hover {
  text-decoration: underline;
}